.logo-footer{
    max-width: 100px;
}

a{

    text-decoration: none;
    color: dimgray;
}

a:hover{
    color: green;
}

.row{
    padding-top: 50px;
}

.spacer{
    padding: 50px;
}


footer{
    background-color: white;
}

.description{
    margin-left: 70px;
    margin-right: 30px;
}