<nav class="navbar fixed-top navbar-expand-lg ">

    <a class="navbar-brand" href="#"><img class="logo" src="../../../assets/images/talis-holdings-logo.jpg"></a>
    <button class="navbar-toggler nav-tog" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-md-auto">
            <div class="btn-spacer"></div>
            <!-- <li *ngIf="isLoggedIn" class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> Bookings </a>
                <ul class="dropdown-menu dropdown-menu-sm-left">

                    <li>
                        <h6 class="dropdown-header">Bookings</h6>
                        <h6 class="dropdown-header"><b>All bookings </b></h6>
                    </li>
                    
                    <div role="separator" class="dropdown-divider"></div>

                    <li>
                        <a href="#bookTestModal"  class="dropdown-item a-link" data-toggle="modal"> Book a learners test</a>
                    </li>

                    <div role="separator" class="dropdown-divider"></div>

                    <li>
                        <a href="#bookDrivingModal"  class="dropdown-item a-link" data-toggle="modal"> Book a driving lesson </a>
                    </li>

                </ul>
            </li> -->

            <div class="btn-spacer"></div>

            <li >
                <a routerLink="/" class="nav-link "> CSI </a>
            </li>

            <div class="btn-spacer"></div>

            <li>
                <a routerLink="/" class="nav-link "> CONTACT </a>
            </li>

            <div class="btn-spacer"></div>

            <li class="nav-item">
                <a routerLink="/" class="nav-link "> OUR BUSINESS </a>
            </li>

        </ul>

        <ul class="navbar-nav">
            
            <li class="nav-item">
                <a routerLink="/" class="nav-link "> ABOUT  </a>
            </li>

            <div class="btn-spacer"></div>

            <li class="nav-item">
                <a routerLink="/a" class="nav-link "> ABOUT COVID 19 </a>
            </li>

            <div class="btn-spacer"></div>
            
            <!-- <li class="nav-item" *ngIf="!isLoggedIn">
                <a href="#myModal" class="nav-link " data-toggle="modal"> Login </a>
            </li>

            <div class="btn-spacer"></div>
            
            <li class="nav-item" *ngIf="!isLoggedIn">
                <a href="#registerModal" class="nav-link " data-toggle="modal"> Register </a>
            </li> -->

            <!-- <li class="nav-item dropdown" *ngIf="isLoggedIn">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> Settings </a>
                <ul class="dropdown-menu dropdown-menu-sm-right ">

                    <li>
                        <h6 class="dropdown-header">Signed-In as</h6>
                        <h6 class="dropdown-header bold-text"><b>{{ userName }}</b></h6>
                    </li>

                    <div role="separator" class="dropdown-divider"></div>

                    <li>
                        <a class="dropdown-item a-link" href="#">Your profile</a>
                    </li>

                    <li>
                        <a class="dropdown-item a-link" href="#">Your bookings</a>
                    </li>
                    
                    <div role="separator" class="dropdown-divider"></div>

                    <li>
                        <a class="dropdown-item a-link" href="#">Your bookings</a>
                    </li>
                    
                    <div role="separator" class="dropdown-divider"></div>

                    <li>
                        <a class="dropdown-item a-link"  (click)="logout()">Sign out</a>
                    </li>

                </ul>
            </li> -->
        </ul>
    </div>
</nav>