<img class="d-block w-100" height="400px" src="../../../assets/images/talis_holdings_our_business.jpg">
<!-- <div class="container"> -->
    <div class="card-div">

		<div class="row offset-1">

            <div class="description">
                <h1>Our Business</h1>
                <p class="our-business">The Talis Holdings Group is invested in diverse sectors within the African economy. Our subsidiaries have interests in property, ICT, finance, agriculture and infrastructure development. Each of these subsidiaries operate both independently and as part the whole, the shared vision.</p>
            </div>

			<aside class="col-md-6 mt-3">

                <article class="mr-3">
                    <a href="https://www.tebfin.co.za/">
                        <img src="../../../assets/images/tebfin_logo.jpg" class="img-group" width="100%" height="160px">
                    </a>
                    <p class="mt-3 offset-lg-1 our-business">Tebfin provides innovative financial solutions.</p>
                </article>



			</aside>

			<div class="spacer"></div>

			<aside class="col-md-6 mt-3">

                <article class="mr-3">
                    <a href="http://www.cloudseed.technology/">
                        <img src="../../../assets/images/cloudseed_logo.jpg" class="img-group" width="100%" height="160px">
                    </a>
                    <p class="mt-3 offset-lg-2 our-business">A leading Internet Service Provider.</p>
                </article>

            </aside>
            
            <div class="spacer"></div>

			<aside class="col-md-6 mt-3 ">
                <article class="mr-3">
                    <a href="">
                        <img src="../../../assets/images/talis_fleet_logo.jpg" class="img-group" width="100%" height="160px">
                    </a>
                    <p class="mt-3 our-business">Supplies fleet management and vehicle tracking services.</p>
                </article>
            </aside>
            
            <div class="spacer"></div>

			<aside class="col-md-6 mt-3">

                <article class="mr-3">
                   <a href="">
                    <img src="../../../assets/images/talis_property_fund_logo.jpg" class="img-group" width="100%" height="160px">
                   </a>
                    <p class="mt-3 our-business">Property management, development and investment.</p>
                </article>

			</aside>
			
		</div>

	</div>
<!-- </div> -->